/* VARIABLES______________________________________________________________________________________________________ */
/* COLORS: 
Main linear gradient -> linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  )

Search input background color (not focus) -> rgba(255, 255, 255, 0.5)
Search input background color (when focus) -> rgba(255, 255, 255, 0.75)
Search input box shadow  -> 0px 5px rgb(0 0 0 / 20%)
Search input text color -> #313131
Div location text color -> #fff
Div location text shadow -> 3px 3px rgb(50 50 70 / 50%)
Div date text shadow -> 2px 2px rgb(50 50 70 / 50%)
Div date text color -> #fff
Div temp background color -> rgba(255, 255, 255, 0.2)
Div temp color -> #fff
Div temp box shadow -> 3px 6px rgb(0 0 0 / 20%)
Div temp text shadow -> 3px 6px rgb(50 50 70 / 50%)
Div cloud color -> #fff
Div cloud text shadow -> 3px 3px rgb(50 50 70 / 50%)
*/

$not-input-color: #fff;
$input-color: #313131;
$input-bg: rgba(255, 255, 255, 0.5);
$input-bg-hover: rgba(255, 255, 255, 0.75);
$input-shadow: 0px 5px rgba(0, 0, 0, 0.2);
$location-shadow: 3px 3px rgba(50, 50, 70, 0.5);
$date-shadow: 2px 2px rgba(50, 50, 70, 0.5);
$temp-bg: rgba(255, 255, 255, 0.2);
$temp-box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
$temp-text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
$cloud-text-shadow: 3px 3px rgba(50, 50, 70, 0.5);

/* RESETS______________________________________________________________________________________________________ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MIXINS______________________________________________________________________________________________________ */
@mixin transition-ease {
  transition: 0.4s ease;
}
