/* IMPORTS______________________________________________________________________________________________________ */
@import "_config";
@import "_input";
@import "_weather";

/* STYLES______________________________________________________________________________________________________ */
body {
  font-family: "Montserrat", sans-serif;
  color: $not-input-color;
}

main {
  min-height: 100vh;
  padding: 2rem;
}

.App {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.75)
    ),
    url("./images/cold-bg.jpg") bottom;
  background-size: cover;

  &.warm {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.75)
      ),
      url("./images/warm-bg.jpg") bottom;
    background-size: cover;
  }
}
